name: marine_checklist_app
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0' # Рекомендуется обновить синтаксис

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  intl: ^0.19.0

  hive: ^2.2.3
  hive_flutter: ^1.1.0
  permission_handler: ^12.0.0
  cupertino_icons: ^1.0.8

  image_picker: ^1.1.2
  path_provider: ^2.1.5
  flutter_image_compress: ^2.4.0

  pdf: ^3.11.3
  printing: ^5.14.2
  share_plus: ^11.0.0

  flutter_native_splash: ^2.4.6


dev_dependencies:
  flutter_test:
    sdk: flutter
  hive_generator: ^2.0.1
  build_runner: ^2.4.6
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.14.3
  intl_utils: ^2.8.7 

flutter:

  uses-material-design: true

  assets:
    - assets/checklists/
    

  fonts:
    - family: DejaVuSans
      fonts:
        - asset: assets/fonts/DejaVuSans.ttf
        
flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/images/app_logo.png"

flutter_native_splash:
  color: "#FFFFFF"
  image: assets/images/app_logo.png
  android: true
  ios: true

# Оставляем только этот блок для локализации
flutter_intl:
  enabled: true
  class_name: S # Стандартное имя класса - S
  main_locale: ru # Указываем основной язык
  arb_dir: lib/l10n
  output_dir: lib/generated